{% extends 'base.html.twig' %}

{% block title %} Lien de réinitialisation d'email envoyé{% endblock %}

{% block content %}
    <div class="container mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="card shadow-sm">
                    <div class="card-body p-4">
                        <h1 class="h3 mb-4 text-center">Lien de modification de mot de passe envoyé par email</h1>
                        <p class="mb-3">
                            Votre lien de réinitialisation d'email a été envoyé.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}