<footer class="bg-dark text-white text-center py-3">
    <div class="container">
        <p>&copy; 2024 SnowTricks - Tous droits réservés</p>
        <a href="{{ path('home') }}" class="text-white">Mentions Légales</a> |
        <a href="{{ path('home') }}" class="text-white">Contact</a>
    </div>
</footer>